.dvc/
.*_cache/
.vscode/
artifacts/
checkpoints/
/data/
/src/vespag/data/
data/test/proteingym_217_esm2.h5
!data/train/
!data/example/
eval/
output/
plots/
workflows/

src/vespag/**/__pycache__
vespag/**/__pycache__
**/.DS_store