# Local stuff
.dvc/
.esm2_cache/
.nox/
.prott5_cache/
.vscode/
.wandb/
**temp**

# Local outputs
/artifacts/
/checkpoints/
/eval/
/output/
/plots/
/workflows/
dist/

# Large data
# The default needs to ignore all files with an extension instead of folders as it is not possible to re-include a file if a parent directory of that file is excluded.
data/**/*.*
!data/example
!data/train/*.fasta
!data/test/*.csv
!data/test/*.fasta
!data/score_transformation/*

# Python artifacts
**/__pycache__

# macOS clutter
**/.DS_store
**/_MACOSX/

# Code cov report
.coverage
