beartype==0.20.2
biopython==1.83
dvc==3.52.0
h5py==3.11.0
jaxtyping==0.2.37
matplotlib==3.8.4
mkl==2024.0.0
numpy==2.2.2
pandas==2.2.2
pingouin==0.5.5
polars==0.20.21
rich==13.7.1
seaborn==0.13.2
sentencepiece==0.2.0
torch==2.7.0
tqdm==4.67.1
transformers==4.52.4
typer==0.15.1
wandb==0.19.6
